.low-usage {
  color: green;
}

.medium-usage {
  color: yellow;
}

.high-usage {
  color: red;
}

#celsius {
    width:25px; /* you can use % */
    height: auto;
}
#thermometer {
  width: auto;
  height: 600px;
  float: right;
  padding-bottom: 100px;
}
#footer{
font-size: 50%;
}
